body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

  .register-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;  */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
  }
  
  .register-container form {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #B19470; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 300px; /* Adjust width as needed */
  }
  
  h1 {
    text-align: center;
    margin-top: 2rem; /* Adjust margin for spacing */
    color: #76453B;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  #reg {
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: medium;
    
  }
  
  #reg:hover { 
    background-color: #76453B;
  }